* {
    margin: 0; 
    padding: 0;box-sizing: border-box;
}
body{
    /* background-color: yellow; */
    

}
.Section1{
    display: flex;
    /* background-color: blue; */
  min-height:100vh;

}
.one{
    background-color: red; 
    flex: 0.3;
}

.two{
     /* background-color: green; */
    flex: 0.4;

}
.three{
    /* background-color: turquoise; */
    flex: 0.2;
}


.two p{ display: inline;

}